.nav{
    position:relative;
    display:row;
    align-items:top;
    border-bottom: 2px dotted black;
    border-top: 2px dotted black
}
.logo {
    margin-right: 130px; 
    margin-left: 100px;
}
.vanishtext{
    position:absolute;
    top: 45px; 
    font-size: 20px;
}
.digitalText{
    position:absolute;
    left: 470px;
    background: #92c654; 
}
.dataText{
    position:absolute;
    left: 815px;
    background: #fbb931;
}
.aiText{
    position:absolute;
    left: 1150px;
    background: #1cacb4;
}
.logoYtexto .vanishtext{
visibility:hidden;
width: 70px;
color: black;
text-align: center;
border-radius: 6px;
transition: opacity 0.5s;
}
.logoYtexto:hover .vanishtext{
    visibility: visible;
    opacity:1;
}
.principal:hover{
    transform:scale(1.3);
}
